<!DOCTYPE html>
<html>
  <head>
	<link rel="shortcut icon" href="">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {

        $("#listRegistrations").click(function(e) {
          $.ajax({
            type: "POST",
            url: "/listRegistrations"
          })
           .done(function(string) {
            $("#fileList").html(string);		  
		  console.log(string);
          e.preventDefault();
			});		
		});

        $("#listJobs").click(function(e) {
          $.ajax({
            type: "POST",
            url: "/viewJobs"
          })
           .done(function(string) {
            $("#jobList").html(string);		  
		  console.log(string);
          e.preventDefault();
			});		
		});		
		
        $("#listFileMatchers").click(function(e) {
          $.ajax({
            type: "POST",
            url: "/viewFilematchers"
          })
           .done(function(string) {
            $("#fmList").html(string);		  
		  console.log(string);
          e.preventDefault();
			});		
		});

        $("#listExecutors").click(function(e) {
          $.ajax({
            type: "POST",
            url: "/viewExecutors"
          })
           .done(function(string) {
            $("#execList").html(string);		  
		  console.log(string);
          e.preventDefault();
			});		
		});		
		
      });
    </script>
  </head>
  <body>
      <button id="listRegistrations">List received files</button>
	  <div id="fileList"></div>
      <button id="listJobs">List registered Jobs</button>
	  <div id="jobList"></div>
      <button id="listFileMatchers">List registered FileMatchers</button>
	  <div id="fmList"></div>	  
      <button id="listExecutors">List registered Executors</button>
	  <div id="execList"></div>	  
	  </body>
</html>